@*@model List<ASP_Core_Empty.Models.Employee>*@
@*List<ASP_Core_Empty.Models.Employee> is not included because dont know how to use list with asp-for TagHelper*@

@model ASP_Core_Empty.Models.Student  
@*this model is the part of first form associated with Student.cs Model file*@

@*@model ASP_Core_Empty.Models.Employee *@
@*this model is the part of second form associated with Employee.cs Model file*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<h1>this is the Index page...</h1> 

@*this form is related to Student.cs file and ModelValidaitons concepts...*@

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form class="d-grid" asp-action="Index" asp-controller="Home" method="post">

                <label asp-for="Name">Enter Name :</label>
                <input asp-for="Name" placeholder="Enter Name" class="form-control" />
                <span asp-validation-for="Name" style="color:red"></span>
                <br />


                <label asp-for="Email">Enter Email :</label>
                <input asp-for="Email" placeholder="Enter email" class="form-control" />
                <span asp-validation-for="Email" style="color:red"></span>
                <br />

                <label asp-for="Age">Enter Age :</label>
                <input asp-for="Age" placeholder="Enter Age" class="form-control" />
                <span asp-validation-for="Age" style="color:red"></span>
                <br />

                <label asp-for="Password">Enter Passsword :</label>
                <input asp-for="Password" placeholder="Enter Password" class="form-control" />
                <span asp-validation-for="Password" style="color:red"></span>
                <br />

                <input type="submit" value="Submit" class="btn btn-outline-primary btn-block" />
            </form>
        </div>
    </div>
</div>



@*this form is related to Employee.cs file and ModelBinding concepts...*@

@*<div class = "container">
    <div class="row">
        <div class="col-sm-4">
            <form class = "d-grid" asp-action="Index" asp-controller="Home" method="post">
                <label asp-for="ID">Enter ID :</label>
                <input asp-for="ID" placeholder="Enter ID" class="form-control"/>
                <br/>
                <label asp-for="Name">Enter Name :</label>
                <input asp-for="Name" placeholder="Enter Name" class="form-control"/> 
                <br/>
                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<MyEnum>()">
                    <option value="">Select Gender :</option>
                </select>
                <br/>
                <label asp-for="Age">Enter Age :</label>
                <input asp-for="Age" placeholder="Enter Age" class="form-control" />
                <br />
                <textarea asp-for="Description" class="form-control" placeholder="Enter description...." rows="5" cols="5"></textarea>
                <br/>
                <label>
                    Married :
                </label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="Married" value="Yes">
                    <label class="form-check-label" for="flexCheckDefault">
                        Yes
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" asp-for="Married" value="No">
                    <label class="form-check-label" for="flexCheckChecked">
                        No
                    </label>
                </div>
                <input type = "submit" value="Submit" class="btn btn-outline-primary btn-block"/>
                <br/>
            </form>
        </div>
    </div>
</div>*@




@*<h1>Index view from home controller</h1>
@ViewData["Data1"]
<br/>
@ViewData["Data2"]
<br/>
@ViewData["Data3"]
<br/>
@{
    foreach(var item in (String[])ViewData["data4"])
    {
        <h2>@item</h2>
    }
}
<br/>*@
    
@*@ViewBag.Name
<br/>
@ViewData["Data5"]
<br/>*@
 



@*<h1 class="bg-primary">Index2</h1>
<h1 class="bg-danger">Index3</h1>
<h1 class="bg-success">Index4</h1>*@




@*@{
    foreach (var item in Model)
    {
        <h2>@item.ID</h2>
        <h2>@item.Name</h2>
        <h2>@item.Gender</h2>
    }
   }*@